*{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header p{
    font-size: 30px;
    color: white;
    margin: 0px 10px;
    font-weight: bolder;
    letter-spacing: 3px;
    text-transform: uppercase;
}

header a{
    font-size: 25px;
    color: white;
    margin: 0px 10px;
    font-weight: bolder;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 10px;
}

header a:hover{
    background-color: rgb(54, 54, 54);
}

main{
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}


div#div-left{
    width: 400px;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
}

div#div-left div#menu{
    width: 90%;
    height: calc(100vh - 140px);
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: start;    
    margin: 10px 0px;
}

div#div-left div#menu a{
    text-decoration: none;
}

div#div-left div#menu a:hover{
    text-decoration:underline;
}

div#div-left div#menu h3{
    margin: 5px 0px;
}

div#div-left div#menu hr{
    width: 100%;
}

div#div-right{
    width: calc(100vw - 400px);
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    overflow-y: auto; 
}

div#div-right div#list{
    width: 50vw;
    height: calc(100vh - 120px);
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding-bottom: 160px;
}

.compra{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 5px;
    margin: 20px 0px;
}

.compra div{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form{
    display: flex;
    flex-direction: column;
    width: 40%;
    /* background-color: blue; */
}

input{
    margin: 10px 0px;
}

input#date{
    margin-top: 3px;
}

button{
    width: 70px;
    height: 20px;
    margin: 10px 0px;
}

footer{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer p{
    color: white;
    font-size: 18px;
}